ion-content {
    --background: url('../../../assets/img/bg2.jpg')  no-repeat cover fixed center;
    background: url('../../../assets/img/bg2.jpg') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}
.img {
height: 100px;
}
.serviceslide 
{
    img
    {
        margin: 0 auto;
        max-height: 60px;
    }
    ion-card
    {
        background: rgb(255 255 255 / 35%);
        margin: 0;
        padding: 4%;
    }
}
ion-item-divider
{
    min-height: 1px;
    margin: 10px 0 20px 0px;}