<ion-header class="header">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons>
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Your SIU was developed by insurance adjusters solely for insurance adjusters. We know the daily focus of handling claims timely, accurately, and efficiently.

          We are revolutionizing the way claims and vendors work together. By creating a portal for each claims member to log in and see immediate and daily updates, the timeliness between claims and vendors is greatly reduced. At the same time, we have the ability to upload reports, intelligence, photos, and documents right from the field for your immediate review. Our goal is to increase your file handling timeliness.</p>
      </ion-col>
    </ion-row>
    <ion-slides pager="true" class="serviceslide">
      <ion-slide>
        <ion-row>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon1.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon2.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon3.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon4.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon5.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon6.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon7.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
            <img src="assets/icon8.png" class="img">
            <h6>Desktop Accident Reconstruction</h6>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>
  <ion-grid>
    <ion-item-divider color="dark">
      
    </ion-item-divider>
  <ion-button (click)="start()" expand="block">Login</ion-button>
  <h3 style="text-align: center;">OR</h3>
  <ion-button (click)="signUp()" expand="block">Register</ion-button>
</ion-grid>
</ion-content>